*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

 // ================== Loading ============
 .loading{
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 10%;
    }
}